<!-- <coderbase-ui>
  <div header>
    <app-header></app-header>
  </div>
  <div nav>
    <app-nav></app-nav>
  </div>
  <div content>
    <router-outlet></router-outlet>
  </div>
  <div footer>
    <app-footer></app-footer>
  </div>
</coderbase-ui> -->

<!-- Car on utilise le framework coder-base ui, on peut écrire -->

<coderbase-ui>
  <app-header header></app-header>
  <app-nav nav></app-nav>
  <router-outlet content></router-outlet>
  <!-- Routed components go here -->
  <app-footer footer></app-footer>
</coderbase-ui>
