<app-tableau-light [headers]="headers">
    <tr *ngFor="let item of collection$ | async">
      <th>{{ item.client }}</th>
      <td>{{ item.typePresta }}</td>
      <td>{{ item.nbjours }}</td>
      <td>{{ item.tjmHt | currency:'EUR' }}</td>
      <td>{{ item | total | currency:'EUR' }}</td>
      <td>{{ item | total: item.tauxTva | currency:'EUR' }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states | keyvalue" [selected]="state.value === item.state" [value]="state.value">{{ state.value }}</option>
        </select>
      </td>
    </tr>
</app-tableau-light>
