<p>page-list-prestations works!</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Client</th>
        <th scope="col">NbJours</th>
        <th scope="col">TJM HT</th>
        <th scope="col">Total HT</th>
        <th scope="col">Total TTC</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <th>{{ item.client }}</th>
        <td>{{ item.typePresta }}</td>
        <td>{{ item.nbjours }}</td>
        <td>{{ item.tjmHt | currency:'EUR' }}</td>
        <td>{{ item | total | currency:'EUR' }}</td>
        <td>{{ item | total: item.tauxTva | currency:'EUR' }}</td>
        <td>{{ item.state }}</td>
      </tr>
    </tbody>
  </table>
</div>
